.footer{
    background-color: rgb(2, 6, 12);
    margin: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer a {
       color: inherit;
}

.footer p{
    margin: 0;
    color: white;
    font-weight: bold;
}

@media screen and (max-width:576px) {
 .footer p{
     font-size: 12px;
}
}

@media screen and (max-width:350px) {
 .footer p{
     font-size: 11px;
}
}